@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cuerpo*/
body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235BF9FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230FE6FF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Tilt Warp', cursive;
}

.portada{
    background-image: url(../multimedia/img/sin\ logo.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.portada div{
    padding-top: 40vh;
}
/*fin cuerpo*/

/*navegador */
.logo{
    height: 60px;
    width: 60px;
    padding: 5px;
}

.navegador{
    background-color: #00E399;
    width: 100%;
    top: 0%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.navegador ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 40px;
    transition: 0.5s;
}

.link{
    color:#053EB3;
    font-size: 16px;
    text-decoration: none;
}

.navegador button{
    background-color: #053EB3;
    border-radius: 5px;
    border: #053EB3;
    padding: 5px;
    transition: 1s;
}
.navegador .link-pedidos{
    color: #00E399;
    font-size: 16px;
    font-family: 'Tilt Warp', cursive;
    text-decoration: none;
}

.navegador button:hover{
    background-color: #FFFFFF;
}

.link-pedidos:hover{
    color: #053EB3;
}

.navegador .fa-bars{
    display:none;
}

@media(max-width:768px) {
    
    .navegador .fa-bars{
        display: block;
        font-size: 50px;
        color: black;
        padding: 5px;

        justify-content: center;
    }

    .navegador .fa-bars:hover + ul{
        right: 0px;
    }
    .navegador ul:hover{
        right: 0px;
    }

    .navegador{
        z-index: 1;
    }
    .navegador ul{
        position: fixed;
        background-color: #00E399;
        width: 200px;
        height: 100vh;
        top: 0%;
        gap: 0;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        right: -200px;
    }
    .navegador ul li{
        padding-top: 30px;
        padding-left: 10px;
    }
    .navegador ul li a{
        padding: 0%;
        font-size: 16px;
    }
}
/*fin navegador */

/*titulos y parrafos*/
.titulo{
    font-size: 120px;
    color: #053EB3;
}

.titulo span{
    font-family: 'Gajraj One', cursive;
    color: #00E399;
    font-size: 120px;
}

h2{
    color: #053EB3;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h3{
    color: #053EB3;
    font-weight: bold;
    font-size: 20px;
}

p{
    font-size: 16px;
    text-align: justify;
}

@media(max-width:700px){
    .titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    }
}
/*fin titulos y parrafos*/

/*nosotros*/
/*
.nosotros div{
    width: 600px;
    height: 300px;
}

.nosotros div img{
    width: 600px;
    height: 300px;
}

.nosotros{
    gap: 20px;
    width: 1200px;
    margin: auto;
    margin-bottom:20px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "la-empresa        foto1"
                          "foto2             valores"
                          "compromiso        foto3";
}

.nosotros div:nth-child(1){
    grid-area: la-empresa;
}

.nosotros div:nth-child(2){
    grid-area: foto1;
}

.nosotros div:nth-child(3){
    grid-area: valores;
}

.nosotros div:nth-child(4){
    grid-area: foto2;
}

.nosotros div:nth-child(5){
    grid-area: compromiso;
}

.nosotros div:nth-child(6){
    grid-area: foto3;
}

@media(max-width:1000px){
    .nosotros{
        width: 600px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:600px){
    .nosotros div{
        width: 100%;
        padding: 10px;
    }
    .nosotros div img{
        padding: 10px;
        width: 100%;
    }
}*/

.nosotros{
    width: 1300px;
}


/*fin nosotros*/

/*contacto*/
.contacto-portada{
    margin: auto;
    height: 400px;
    width: 1000px;
}

.contacto-portada img{
    width: 100%;
    height: 400px;
}

.formulario{
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dejanos-tus-datos   dejanos-tus-datos"
                         "nombre                       asunto"
                         "mail                            tel"
                         "mensaje                      mensaje"
                         "enviar                        enviar";
} 
.formulario h3{
    grid-area: dejanos-tus-datos;
    font-size: 20px;
}
.formulario label{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.formulario label input{
    border: none;
    border-bottom: #00E399 solid;
    padding: 5px;
}
.formulario label textarea{
    border: none;
    border-bottom: #00E399 solid;
}
.formulario button{
    padding: 5px;
    font-size: 16px;
    font-family: 'Tilt Warp', cursive;
    border-radius: 5px;
    border:outset;
}
.formulario label:nth-child(2){
    grid-area: nombre;
}
.formulario label:nth-child(3){
    grid-area: asunto;
}
.formulario label:nth-child(4){
    grid-area: mail;
}
.formulario label:nth-child(5){
    grid-area: tel;
}
.formulario label:nth-child(6){
    grid-area: mensaje;
}
.formulario button{
    grid-area: enviar;
}

.contacto{
    margin: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

@media(max-width:1000px){
    .formulario{
        margin-top: 0;
        padding: 10px;
        width: 100%;
        grid-template-areas: "dejanos-tus-datos   dejanos-tus-datos"
                             "nombre               nombre"
                             "asunto                 asunto"
                             "mail                   mail"
                             "tel                    tel"
                             "mensaje                mensaje"
                             "enviar                 enviar";
    }
    .contacto{
        gap: 20px;
        width: 100%;
        margin-bottom: 60px;
    }
    .contacto-portada{
        width: 100%;
        height: 250px;
        
    }
    .contacto-portada img{
        height: 250px;
    }
}
/*fin contacto*/

/*ofertas*/

.carousel{
    margin: auto;
    margin-top: 80px;
    height: 600px;
    width: 1200px;
}
/*fin ofertas*/

/*sist de pedidos*/
.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    border: solid #00E399;
    height: 200px;
    width: 400px;
    margin-top: 80px;
    background-color: #FFFFFF;
}

.login input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/*fin sist de pedidos*/

/*pie*/
.pie{
    background-color: #00E399;
    position:fixed;
    width: 100%;
    bottom: 0%;
}

.pie ul{
    list-style: none;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-size: 12px;
}
/*fin pie*/
