.contacto-portada{
    margin: auto;
    @include sizes(1000px, 400px);
    img{
        @include sizes(100%, 400px);
        object-fit: cover;
    }
}
.contacto{
    p{
        text-align: center;
    }
    .informacion{
        width: 400px;
        margin-top: 20px;
        p{
            text-align: start;
        }
        .fa{
            color: $color-sec;
            font-size: 30px;
        }
        .ubicacion{
            border-bottom: 2px solid $color-pri;
        }
        .envianos-cv{
            margin-top: 20px;
        }
    }
    .formulario{
        width: 400px;
        margin-top: 20px;
        form{
            input{
                padding: 10px;
            }
            button{
                @include boton;
            }
        }
    }
}

@media(max-width:1000px){
    .contacto-portada{
        @include sizes(100%, 250px);
        img{
            height: 250px;
        }
    }
}