.nosotros{
    width: 1200px;
    div{
        h2{
            border-bottom: 2px solid $color-pri;
        }
    }
}
@media(min-width:992px){
    .nosotros div:nth-child(1){
        order:1;
    }
    .nosotros div:nth-child(2){
        order:2;
    }
    .nosotros div:nth-child(3){
        order:4;
    }
    .nosotros div:nth-child(4){
        order:3;
    }
    .nosotros div:nth-child(5){
        order:5;
    }
    .nosotros div:nth-child(6){
        order:6;
    }
    .nosotros div:nth-child(7){
        order:8;
    }
    .nosotros div:nth-child(8){
        order:7;
    }
}

@media(max-width:992px){
    .nosotros{
        width: 100%;
    }
}

