.ofertas{
    div{
        div{
            gap: 10px;
            img{
                @include sizes(300px, 200px);
                &:hover{
                    transform: scale(1.1);
                }
            }
            p{
                text-align: center;
            }
                
                    
            
        }
    }
}

