footer{
    margin-top: auto;
    .pie{
        background-color: $color-sec;
        div{
            gap: 5px;
            i{
                color: $color-pri;
            
            }
            p{
                color: $color-ter;
            }
        }
    }
}

